.body {
margin: 0;
   padding: 0;
}   
    

.container {
    margin: 22px 90px;
    }
    .nav {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    }
    .nav-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Verdana, sans-serif;
    display: flex;
    }
    .nav-item1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Verdana, sans-serif;
    display: flex;
    }
    .nav-item-about {
    color: rgb(255, 255, 255);
    background: #000000;
    border: 10px solid #000000;
    border-radius: 15px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    display: flex;
    }
    .pic {
    display: flex;
    background-color: rgb(201, 136, 226);
    margin-top: 10px;
    margin-left: 5%;
    width: 299px;
    aspect-ratio: auto 300 / 300;
    height: 299px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    }
    .about {
    padding-top: 8px;
    margin-left: 5%;
    color: black;
    font-weight: 400;
    line-height: 1.2;
    font-family: Verdana, sans-serif;
    }
    .info {
    
    box-sizing: border-box;
    margin-left: 10px;
    flex-grow: 2;
    margin-left: 5%;
    color: black;
    font-weight: 500;
    line-height: 1.2;
    font-family: Verdana, sans-serif;
    }
    .info-flex {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    display: block;
    }
    .info-row {
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin-left: 5%;
    display: flex;
    }
    .title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
    list-style-type: none;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
    .text {
    box-sizing: border-box;
    flex-grow: 2;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-weight: 500;
    line-height: 1.2;
    font-family: Verdana, sans-serif;
    }
    .skills {
    margin-top: -17px;
    padding: 20px;
    font-family: Verdana, sans-serif;
    background-color: rgb(201, 136, 226);
    }
    .skill-list {
    list-style: none;
    padding: 0;
    margin: 11px 0 0;
    background-color: rgb(201, 136, 226);
    }
    .skill-list li {
    display: inline-block;
    color: rgb(201, 136, 226);
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(201, 136, 226);
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    }
    .footer {
    background: rgb(114, 27, 148);
    color: #fff;
    font-size: 70%;
    padding: 5px;
    clear : both;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    }
    .body {
        margin-top: -22px;
        background-color: rgb(201, 136, 226);
    }
    .header {
        background-color: rgb(114, 27, 148);
    }
    .ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
    
    
